{% extends 'base.html.twig' %}

{% block title %}Klanten{% endblock %}

{% block body %}
    <h1>Klanten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ klanten.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ klanten.Naam }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ klanten.Telefoon }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ klanten.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('klanten_index') }}">back to list</a>

    <a href="{{ path('klanten_edit', {'id': klanten.id}) }}">edit</a>

    {{ include('klanten/_delete_form.html.twig') }}
{% endblock %}
