{% extends 'base.html.twig' %}

{% block title %}Bestellingen index{% endblock %}

{% block body %}
    <h1>Bestellingen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>Gereserveerd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bestellingen in bestellingens %}
            <tr>
                <td>{{ bestellingen.id }}</td>
                <td>{{ bestellingen.Aantal }}</td>
                <td>{{ bestellingen.Gereserveerd }}</td>
                <td>
                    <a href="{{ path('bestellingen_show', {'id': bestellingen.id}) }}">show</a>
                    <a href="{{ path('bestellingen_edit', {'id': bestellingen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bestellingen_new') }}">Create new</a>
{% endblock %}
